---
import { Footer, Head, Header } from '@leosvel/common';

export interface Props {
  description: string;
  title: string;
  canonicalUrl?: string;
  extraKeywords?: string[];
  socialImage?: string;
  socialImageAlt?: string;
}

const {
  description,
  title: pageTitle,
  canonicalUrl,
  extraKeywords,
  socialImage,
  socialImageAlt,
} = Astro.props;
const siteUrl = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = canonicalUrl ? new URL(canonicalUrl) : siteUrl;
const siteName = siteUrl.hostname;
const title = `${pageTitle} | ${siteName}`;
const { pathname: currentPage } = new URL(Astro.request.url);
---

<html lang="en" class="scroll-smooth">
  <head>
    <Head
      title={title}
      description={description}
      canonicalURL={canonicalURL}
      extraKeywords={extraKeywords}
      siteName={siteName}
      socialImage={socialImage}
      socialImageAlt={socialImageAlt}
    />
  </head>

  <body
    class="flex min-h-screen w-screen flex-col overflow-x-hidden bg-white font-mono text-white selection:bg-cyan-700 selection:text-white"
  >
    <Header currentPage={currentPage} />

    <main class="flex flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
