---
export interface Props {
  content: { title: string; description: string; socialImage?: string };
}

import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <HeadCommon title={content.title} />
    <HeadSEO
      {content}
      canonicalURL={Astro.request.canonicalURL}
      socialImage={content.socialImage}
    />
  </head>

  <body
    class="min-h-screen w-screen bg-white flex flex-col font-mono text-white selection:bg-cyan-900 selection:text-white overflow-x-hidden"
  >
    <Header currentPage={Astro.request.url.pathname} />

    <div class="flex flex-1">
      <slot />
    </div>

    <Footer />
  </body>
</html>
