---
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  socialImage?: string;
  socialImageAlt?: string;
}

const { title, description, socialImage, socialImageAlt } = Astro.props;
const { canonicalURL } = Astro.request;
---

<html lang="en" class="scroll-smooth">
  <head>
    <HeadCommon {title} {description} {canonicalURL} />
    <HeadSEO {title} {description} {canonicalURL} {socialImage} {socialImageAlt}
    />
  </head>

  <body
    class="min-h-screen w-screen bg-white flex flex-col font-mono text-white selection:bg-cyan-700 selection:text-white overflow-x-hidden"
  >
    <Header currentPage={Astro.request.url.pathname} />

    <div class="flex flex-1">
      <slot />
    </div>

    <Footer />
  </body>
</html>
