---
import { Footer, Head, Header } from '@leosvel/common';

export interface Props {
  title: string;
  description: string;
  socialImage?: string;
  socialImageAlt?: string;
  canonicalUrl?: string;
}

const {
  title: pageTitle,
  description,
  socialImage,
  socialImageAlt,
  canonicalUrl,
} = Astro.props;
const canonicalURL = canonicalUrl ? new URL(canonicalUrl) : Astro.canonicalURL;
const siteName = Astro.canonicalURL.hostname;
const title = `${pageTitle} | ${siteName}`;
const { pathname: currentPage } = new URL(Astro.request.url);
---

<html lang="en" class="scroll-smooth">
  <head>
    <Head
      {title}
      {description}
      {canonicalURL}
      {siteName}
      {socialImage}
      {socialImageAlt}
    />
  </head>

  <body
    class="min-h-screen w-screen bg-white flex flex-col font-mono text-white selection:bg-cyan-700 selection:text-white overflow-x-hidden"
  >
    <Header {currentPage} />

    <main class="flex flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
