---
import { Footer, Head, Header } from '@leosvel/common';

export interface Props {
  title: string;
  description: string;
  socialImage?: string;
  socialImageAlt?: string;
  canonicalUrl?: string;
}

const {
  title: pageTitle,
  description,
  socialImage,
  socialImageAlt,
  canonicalUrl,
} = Astro.props;
const canonicalURL = canonicalUrl ?? Astro.request.canonicalURL;
const siteName = canonicalURL.hostname;
const title = `${pageTitle} | ${siteName}`;
---

<html lang="en" class="scroll-smooth">
  <head>
    <Head
      {title}
      {description}
      {canonicalURL}
      {siteName}
      {socialImage}
      {socialImageAlt}
    />

    <link rel="stylesheet" href="/styles/prism-material-dark.css" />
  </head>

  <body
    class="min-h-screen w-screen bg-white flex flex-col font-mono text-white selection:bg-cyan-700 selection:text-white overflow-x-hidden"
  >
    <Header currentPage={Astro.request.url.pathname} />

    <main class="flex flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
