---
export interface Props {
  post: {
    date: string;
    description: string;
    thumbnailImage: string;
    thumbnailImageAlt: string;
    link: string;
    title: string;
  };
}

const { title, description, date, link, thumbnailImage, thumbnailImageAlt } =
  Astro.props.post;
---

<a
  class="flex flex-col max-w-xs shadow-md shadow-cyan-700/50 ring-1 ring-cyan-400 hover:shadow-lg hover:shadow-cyan-700/50 transition-all"
  href={link}
>
  <img
    class="w-full h-36 object-cover"
    height="144"
    width="100%"
    src={thumbnailImage}
    alt={thumbnailImageAlt}
  />
  <div class="p-4 md:p-8 flex flex-col">
    <h2 class="mb-4 text-xl font-bold">{title}</h2>
    <p class="mb-8">{description}</p>
    <span class="self-end text-sm opacity-80">{date}</span>
  </div>
</a>
